@import "tailwindcss";

@theme {
  --color-purple-dark: #240046;
  --color-purple-light: #e0aaff;
  --color-yellow-accent: #fbb02d;
  --color-lavender: #eccaff;
  --color-night: #03071e;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #03071e;
  font-family: Arial, Helvetica, sans-serif;
}

button,
input,
select {
  font: inherit;
}